path {
    stroke: #fff;
    fill-rule: evenodd;
  }
  
  text {
    font-family: Arial, sans-serif;
    font-size: 12px;
  }

  .rectangle {
    fill: steelblue;
  }
  .rectangle:hover {
    fill: orange;
  }
  .axis {
    font: 10px sans-serif;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  

